Repository gordonkoehn/UsefulGnom: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, snakemake-lint, snakemake-dryrun

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.3'
    hooks:
      - id: poetry-check
      - id: poetry-lock
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements.txt"]
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.0.245'
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/econchick/interrogate
    rev: 1.5.0
    hooks:
      - id: interrogate
        args: [--quiet, --fail-under=95]
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: poetry run pyright
        language: node
        pass_filenames: true
        types: [python]
  - repo: local
    hooks:
      - id: snakemake-lint
        name: Snakemake Lint
        entry: snakemake --lint
        language: system
        files: (Snakefile|\.smk$)
        pass_filenames: false

      - id: snakemake-dryrun
        name: Snakemake Dry Run
        entry: snakemake -n
        language: system
        files: (Snakefile|\.smk$)
        pass_filenames: false

remove dryrun snakemake precommit
  .github/workflows/test-snake.yml
  .pre-commit-config.yaml
  README.md
  data/AMZN_2012-06-21_34200000_57600000_message_1.csv
  data/AMZN_2012-06-21_34200000_57600000_orderbook_1.csv
  data/statistics.csv
  data/statistics_backup.csv
  pyproject.toml
  workflow/.tests/unit/common.py
  workflow/.tests/unit/smk_testing/data/AMZN_2012-06-21_34200000_57600000_message_1.csv
  workflow/.tests/unit/smk_testing/expected/statistics.csv
  workflow/.tests/unit/test_make_price_data.py
  workflow/Snakefile
  workflow/rules/amplicon_cov.smk
  workflow/rules/base_coverage.smk
Due: pyright, snakemake-lint, snakemake-dryrun

try to change smk testing command
  .github/workflows/test-snake.yml
Due: none

revert idiot
  .github/workflows/test-snake.yml
Due: none

fix smk CI
  .github/workflows/test-snake.yml
  workflow/rules/base_coverage.smk
Due: snakemake-lint, snakemake-dryrun

reinstating order
  README.md
  data/AMZN_2012-06-21_34200000_57600000_message_1.csv
  data/AMZN_2012-06-21_34200000_57600000_orderbook_1.csv
  data/statistics.csv
  data/statistics_backup.csv
  pyproject.toml
  workflow/.tests/unit/common.py
  workflow/.tests/unit/test_make_price_data.py
Due: pyright

formating
  pyproject.toml
Due: none

black refomrating
  workflow/.tests/unit/common.py
  workflow/.tests/unit/test_make_price_data.py
Due: pyright

change input data
  workflow/.tests/unit/test_make_price_data.py
Due: pyright

adjust paths
  workflow/.tests/unit/test_make_price_data.py
Due: pyright

unify names
  workflow/.tests/unit/smk_testing.py
Due: pyright

Rename smk_testing.py to test_smk_testing.py
  workflow/.tests/unit/test_smk_testing.py
Due: pyright

Refactor smk testing (#22)
  .github/workflows/test-snake.yml
  .pre-commit-config.yaml
  config/amplicon_cov.smk
  pyproject.toml
  resources/amplicon_cov/ArticV41primers2.tsv
  resources/amplicon_cov/ArticV531primers.bed
  resources/amplicon_cov/articV3primers.bed
  scripts/amplicon_covs.py
  workflow/.tests/integrations/AMZN_2012-06-21_34200000_57600000_message_1.csv
  workflow/.tests/unit/smk_testing/data/AMZN_2012-06-21_34200000_57600000_message_1.csv
  workflow/.tests/unit/smk_testing/expected/statistics.csv
  workflow/.tests/unit/test_smk_testing.py
  workflow/Snakefile
  workflow/rules/amplicon_cov.smk
  workflow/rules/base_coverage.smk
  workflow/rules/smk_testing.smk
Due: pyright, snakemake-lint, snakemake-dryrun

add automatic file recognition and testing
  workflow/.tests/unit/common.py
  workflow/.tests/unit/smk_testing/expected/statistics.csv
  workflow/.tests/unit/test_amplicon_cov.py
  workflow/.tests/unit/test_smk_testing.py
  workflow/Snakemake/common.py
  workflow/rules/smk_testing.smk
Due: pyright, snakemake-lint, snakemake-dryrun

cut the trash
  workflow/.tests/unit/test_smk_testing.py
Due: pyright

Adding Automatic File Discovery for SMK Unit Testing (#24)
  workflow/.tests/unit/common.py
  workflow/.tests/unit/smk_testing/expected/statistics.csv
  workflow/.tests/unit/test_amplicon_cov.py
  workflow/.tests/unit/test_smk_testing.py
  workflow/Snakemake/common.py
  workflow/rules/smk_testing.smk
Due: pyright, snakemake-lint, snakemake-dryrun

update Readme
  README.md
Due: none

update README
  README.md
Due: none

Update README (#27)
  README.md
Due: none

Broken Link README.md
  README.md
Due: none

Broken Link README.md (#30)
  README.md
Due: none

Adds Credits to dr-david in workflow
  workflow/rules/amplicon_cov.smk
Due: snakemake-lint, snakemake-dryrun

Adds Credits to dr-david in Amplicon Coverage workflow (#32)
  workflow/rules/amplicon_cov.smk
Due: snakemake-lint, snakemake-dryrun

fix wrongly typed file
  config/amplicon_cov.yaml
Due: none

update the references accordingly
  workflow/rules/amplicon_cov.smk
Due: snakemake-lint, snakemake-dryrun

adding integration unittest data - subset of test_output_sars-cov-2 artifact from V-Pipe/rubicon snake-depoly action
  workflow/.tests/integration/subset_vpipe_smkdploy/README.md
  workflow/.tests/integration/subset_vpipe_smkdploy/test_ouput_sars-cov-2/results/pos_MN908947_3_1/20200729/alignments/coverage.tsv.gz
  workflow/.tests/integration/subset_vpipe_smkdploy/test_ouput_sars-cov-2/results/pos_MT007544_1_1/20200729/alignments/coverage.tsv.gz
  workflow/.tests/integration/subset_vpipe_smkdploy/test_ouput_sars-cov-2/samples/samples.tsv
Due: none

addding primer scheme for unittest
  workflow/.tests/integration/primer_schemes/articV3primers.bed
Due: none

WIP
  config/amplicon_cov.yaml
  workflow/.tests/unit/amplicon_cov/amplicon_cov.yaml
  workflow/.tests/unit/amplicon_cov/data/primer_schemes/articV3primers.bed
  workflow/.tests/unit/amplicon_cov/data/subset_vpipe_smkdeploy/README.md
  workflow/.tests/unit/amplicon_cov/data/subset_vpipe_smkdeploy/test_output_sars-cov-2/results/pos_MN908947_3_1/20200729/alignments/coverage.tsv.gz
  workflow/.tests/unit/amplicon_cov/data/subset_vpipe_smkdeploy/test_output_sars-cov-2/results/pos_MT007544_1_1/20200729/alignments/coverage.tsv.gz
  workflow/.tests/unit/amplicon_cov/data/subset_vpipe_smkdeploy/test_output_sars-cov-2/samples/samples.tsv
  workflow/.tests/unit/amplicon_cov/data/subset_vpipe_smkdeploy/test_output_sars-cov-2/samples/samples20200729.tsv
  workflow/.tests/unit/amplicon_cov/expected/20200729/amplicons_coverages.csv
  workflow/.tests/unit/amplicon_cov/expected/20200729/amplicons_coverages_norm.csv
  workflow/.tests/unit/amplicon_cov/expected/20200729/cov_heatmap.pdf
  workflow/.tests/unit/test_amplicon_cov.py
Due: pyright

adding unit tests
  workflow/.tests/unit/common.py
  workflow/.tests/unit/test_amplicon_cov.py
Due: pyright

formating
  workflow/.tests/unit/test_amplicon_cov.py
Due: pyright

cleanup
  pyproject.toml
  workflow/.tests/unit/common.py
  workflow/.tests/unit/test_amplicon_cov.py
  workflow/.tests/unit/test_smk_testing.py
  workflow/rules/smk_testing.smk
Due: pyright, snakemake-lint, snakemake-dryrun

Unittest for Amplicon Coverage – Snakemake Unitetest CI (#34)
  config/amplicon_cov.smk
  config/amplicon_cov.yaml
  pyproject.toml
  workflow/.tests/unit/amplicon_cov/amplicon_cov.yaml
  workflow/.tests/unit/amplicon_cov/data/primer_schemes/articV3primers.bed
  workflow/.tests/unit/amplicon_cov/data/subset_vpipe_smkdeploy/README.md
  workflow/.tests/unit/amplicon_cov/data/subset_vpipe_smkdeploy/test_output_sars-cov-2/results/pos_MN908947_3_1/20200729/alignments/coverage.tsv.gz
  workflow/.tests/unit/amplicon_cov/data/subset_vpipe_smkdeploy/test_output_sars-cov-2/results/pos_MT007544_1_1/20200729/alignments/coverage.tsv.gz
  workflow/.tests/unit/amplicon_cov/data/subset_vpipe_smkdeploy/test_output_sars-cov-2/samples/samples.tsv
  workflow/.tests/unit/amplicon_cov/data/subset_vpipe_smkdeploy/test_output_sars-cov-2/samples/samples20200729.tsv
  workflow/.tests/unit/amplicon_cov/expected/20200729/amplicons_coverages.csv
  workflow/.tests/unit/amplicon_cov/expected/20200729/amplicons_coverages_norm.csv
  workflow/.tests/unit/amplicon_cov/expected/20200729/cov_heatmap.pdf
  workflow/.tests/unit/common.py
  workflow/.tests/unit/test_amplicon_cov.py
  workflow/.tests/unit/test_smk_testing.py
  workflow/rules/amplicon_cov.smk
  workflow/rules/smk_testing.smk
Due: pyright, snakemake-lint, snakemake-dryrun

enable linter snakemke
  .github/workflows/test-snake.yml
Due: none

remove main branch
  .github/workflows/test-snake.yml
Due: none

piush
  .github/workflows/test-snake.yml
Due: none

try otherwise
  .github/workflows/test-snake.yml
Due: none

add isntall
  .github/workflows/test-snake.yml
Due: none

remove superlint
  .github/workflows/test-snake.yml
Due: none

Enable linter snakemke in snakemkae CI - enforece snakemake qulaity (#35)
  .github/workflows/test-snake.yml
Due: none
