Repository gordonkoehn/UsefulGnom: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, snakemake-lint, snakemake-dryrun

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.3'
    hooks:
      - id: poetry-check
      - id: poetry-lock
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements.txt"]
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.0.245'
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/econchick/interrogate
    rev: 1.5.0
    hooks:
      - id: interrogate
        args: [--quiet, --fail-under=95]
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: poetry run pyright
        language: node
        pass_filenames: true
        types: [python]
  - repo: local
    hooks:
      - id: snakemake-lint
        name: Snakemake Lint
        entry: snakemake --lint
        language: system
        files: (Snakefile|\.smk$)
        pass_filenames: false

      - id: snakemake-dryrun
        name: Snakemake Dry Run
        entry: snakemake -n
        language: system
        files: (Snakefile|\.smk$)
        pass_filenames: false

add snakemake CI final
  .github/workflows/test-snake.yml
Due: none

remove poetry from here
  .github/workflows/test-snake.yml
Due: none

Integrating Snakemake Unittests & CI / CD (#8)
  .github/workflows/test-snake.yml
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  config/README.md
  config/config.yaml
  config/smk_testing_config.yaml
  environment.yml
  pyproject.toml
  src/usefulgnom/analyze/basecnt_coverage.py
  src/usefulgnom/serialize/basecnt_coverage.py
  workflow/.tests/integrations/AMZN_2012-06-21_34200000_57600000_message_1.csv
  workflow/.tests/unit/common.py
  workflow/.tests/unit/make_price_data/data/AMZN_2012-06-21_34200000_57600000_message_1.csv
  workflow/.tests/unit/make_price_data/expected/statistics.csv
  workflow/.tests/unit/test_make_price_data.py
  workflow/README.md
  workflow/Snakefile
  workflow/Snakemake/common.py
  workflow/rules/base_coverage.smk
  workflow/rules/smk_testing.smk
  workflows/Snakefile
Due: pyright, snakemake-lint, snakemake-dryrun

fix snakemake linter
  .github/workflows/test-snake.yml
Due: none

Integrating Relative Amplicon Coverage (#9)
  .github/workflows/test-snake.yml
  pyproject.toml
  resources/amplicon_cov/ArticV41primers2.tsv
  resources/amplicon_cov/ArticV531primers.bed
  resources/amplicon_cov/articV3primers.bed
  scripts/amplicon_covs.py
  workflow/Snakefile
  workflow/rules/amplicon_cov.smk
Due: pyright, snakemake-lint, snakemake-dryrun

ignore long directive
  .pre-commit-config.yaml
  config/base_coverage.yaml
  workflow/Snakefile
  workflow/rules/base_coverage.smk
Due: snakemake-lint, snakemake-dryrun

Add Configuration for Read Base Coverage (#12)
  .pre-commit-config.yaml
  config/base_coverage.yaml
  workflow/Snakefile
  workflow/rules/base_coverage.smk
Due: snakemake-lint, snakemake-dryrun

add logs
  config/amplicon_cov.smk
  workflow/rules/amplicon_cov.smk
Due: snakemake-lint, snakemake-dryrun

moved all to configs
  config/amplicon_cov.smk
  workflow/rules/amplicon_cov.smk
Due: snakemake-lint, snakemake-dryrun

Add Configuration for Amplicon Coverage (#13)
  config/amplicon_cov.smk
  workflow/rules/amplicon_cov.smk
Due: snakemake-lint, snakemake-dryrun

big swap
  .github/workflows/test-snake.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix version
  .github/workflows/test-snake.yml
Due: none

Adding Snakefmt instead of Snakemake lint (#15)
  .github/workflows/test-snake.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

change snakemake linter to lint all the code base
  .github/workflows/test-snake.yml
Due: none

disabled failute due to linting currently
  .github/workflows/test-snake.yml
Due: none

run snakefmt only for snakefiels
  .github/workflows/test-snake.yml
Due: none

fix main Snakefile
  .pre-commit-config.yaml
  workflow/Snakefile
Due: snakemake-lint, snakemake-dryrun

test snakefile change
  workflow/Snakefile
Due: snakemake-lint, snakemake-dryrun

test linter github
  .github/workflows/test-snake.yml
  workflow/Snakefile
Due: snakemake-lint, snakemake-dryrun

fix linter snakemkae
  .github/workflows/test-snake.yml
Due: none

Swapping your Snakemake --lint for Snakefmt (#19)
  .github/workflows/test-snake.yml
  .pre-commit-config.yaml
  workflow/Snakefile
Due: snakemake-lint, snakemake-dryrun

add unit-test instead of try runs to snakemake CI
  .github/workflows/test-snake.yml
  .pre-commit-config.yaml
Due: none

add pytest no poetry
  .github/workflows/test-snake.yml
Due: none

fix path
  .github/workflows/test-snake.yml
Due: none

LFG
  .pre-commit-config.yaml
  config/amplicon_cov.smk
  pyproject.toml
  workflow/.tests/unit/common.py
  workflow/.tests/unit/test_make_price_data.py
  workflow/rules/amplicon_cov.smk
  workflow/rules/base_coverage.smk
  workflow/rules/smk_testing.smk
Due: pyright, snakemake-lint, snakemake-dryrun

lower tolerance
  workflow/.tests/unit/common.py
Due: pyright

print diffs
  workflow/.tests/unit/common.py
Due: pyright

lower trolerance
  workflow/.tests/unit/common.py
Due: pyright

test
  workflow/.tests/unit/common.py
Due: pyright

add pandas testing
  workflow/.tests/unit/common.py
Due: pyright

enforce pprecision
  workflow/.tests/unit/common.py
Due: pyright

print tye
  workflow/.tests/unit/common.py
Due: pyright

weired error
  workflow/.tests/unit/common.py
Due: pyright

add type checking
  workflow/.tests/unit/common.py
Due: pyright

Adding Snakemake Unit Test in Github CI (#20)
  .github/workflows/test-snake.yml
  .pre-commit-config.yaml
  config/amplicon_cov.smk
  pyproject.toml
  workflow/.tests/unit/common.py
  workflow/.tests/unit/test_make_price_data.py
  workflow/rules/amplicon_cov.smk
  workflow/rules/base_coverage.smk
  workflow/rules/smk_testing.smk
Due: pyright, snakemake-lint, snakemake-dryrun

fix branch handel
  README.md
Due: none

Fix Frozen Snakemake Test Badge (#21)
  README.md
Due: none

locally running amplicon cov
  config/amplicon_cov.smk
  resources/amplicon_cov/ArticV41primers2.tsv
  resources/amplicon_cov/ArticV531primers.bed
  resources/amplicon_cov/articV3primers.bed
  scripts/amplicon_covs.py
  workflow/Snakefile
  workflow/rules/amplicon_cov.smk
  workflow/rules/base_coverage.smk
  workflow/rules/smk_testing.smk
Due: pyright, snakemake-lint, snakemake-dryrun
